/* Write your code here. */
.list-item {
  list-style-type: none;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #d7dae6;
  margin: 30px;
  padding: 10px;
}
.q-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.question {
  color: #52606d;
  font-weight: 400;
  font-family: 'roboto';
  font-size: 20px;
}
.image {
  width: 70%;
}
.button {
  outline: none;
  background-color: transparent;
  border-width: 0px;
}
.line {
  border-style: solid;
  border-color: #d7dae6;
}
.answer {
  color: #9aa5b1;
  font-family: 'roboto';
}
