/* Write your code here. */
.app-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faqs-container {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.head {
  color: #cb8805;
  font-family: 'roboto';
  font-weight: 800;
}
